p{
color: brown;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: large;
}
h1{
color: rgb(7, 4, 189);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
/*se da estilo a un <p> pero si tiene ID solo se conecta con el # "ID en HTML y # en Css""*/
#intro{
    color: black;
    font-size: 20px;
}

#logo{
    width: 300px;
    border-radius: 100px;

}

.tipos{
    color: darkgoldenrod;
    font-weight: bold;
}

a {
    color: darkgreen;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #4a4d9a;
background: -webkit-linear-gradient(100deg, #4a4d9a 0%, #000000 100%);
background: linear-gradient(100deg, #4a4d9a 0%, #000000 100%); /* Color de fondo */
  }
